<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="APITest.JUnit_List_CityBike_Locations_USA_With_WebLink"/>
      <class name="APITest.JUnit_List_CityBike_Locations_In_UK_With_Coordinates"/>
       <class name="APITest.JUnit_Verify_Frankfurt_in_Germany"/>
       <class name="APITest.JUnit_List_CityBike_Companies_In_Russia"/>
        <class name="APITest.JUnit_List_CityBike_Locations_In_China_With_WebLink"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
